* {
  font-family: 'Ruda', 'sans-serif';
  font-weight: 800;
}

/* user input */

header {
  width: 100%;
  position: sticky;
  top: 0%;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0em;
  color: #fff;
  background-color: #1e437d;
  /* background-color: #1a3961; */
}

header h2 {
  margin: 0em;
  padding: 0.2em 1.5em;
  border: 2px solid #fff;
  border-radius: 20px;
}

.message {
  text-align: center;
  width: 100%;
  height: 2em;
}

body {
  padding: 2em 0em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

fieldset {
  padding: 1em;
  border: 2px solid #1e437d;
  line-height: 3em;
  margin: 1em 0em;
  width: 90%;
}

legend {
  margin: 1em 0em;
}

legend h2 {
  margin: 0em;
  border-right: 2px solid #1e437d;
  border-left: 2px solid #1e437d;
  margin: 1em 0em;
  padding: 0em 0.5em;
  font-size: 1.3em;
}

.input {
  color: #000;
  background-color: #ececec;
  border: 0px;
  border-radius: 10px;
  padding: 0.5em;
  width: 18em;
  height: 3em;
}

.textarea {
  color: #000;
  background-color: #ececec;
  border: 0px;
  border-radius: 10px;
  padding: 0.5em;
  width: 18em;
  height: 8em;
}

td {
  padding-left: 1em;
  padding-bottom: 1em;
}

.top {
  display: flex;
  justify-content: flex-start;
}

legend h3 {
  margin-bottom: 0em;
  margin-top: 1em;
}

.button {
  background-color: #1e437d;
  color: #fff;
  border: 0px;
  border-radius: 6px;
  padding: 0.5em 1em;
  width: 12em;
  height: 4em;
  margin-top: 3em;
}

.center {
  font-weight: bold;
}

hr {
  border: 1px solid #1e437d;
  width: 100%;
  margin: 3em 0em;
}

/* resume */

resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed #1e437d;
  padding: 1em;
  width: 90%;
}

resume h2,
resume h1 {
  margin: 0.2em;
}

#object-r,
#address-r {
  width: 80%;
  text-align: center;
}

.nolist {
  list-style-type: none;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5em;
}

div p {
  margin: 0.3em 0em;
}

.heading {
  width: 100%;
  text-align: center;
  padding: 0.5em;
  background-color: #1e437d;
  color: #fff;
  border: 1px solid #000;
}

list {
  display: flex;
  justify-content: left;
  column-gap: 1em;
  width: 100%;
}

list ul {
  padding: 1.5em 0em;
  padding-left: 0.5em;
  margin: 0em;
}

.list {
  display: flex;
  justify-content: left;
  margin: 0.2em;
}

info {
  padding: 1.5em 0em;
  padding-left: 1em;
}

info p,
list ul li {
  margin: 1em 0em;
}

#headername-r {
  color: #1e437d;
  width: 100%;
  text-align: center;
}

.blue {
  color: #1e437d;
}

.watermark {
  color: #dadada;
  font-size: 15em;
  position: absolute;
  z-index: -10;
  opacity: 50%;
  transform: rotate(-45deg);
}

@media only screen and (max-width: 900px) {


  .watermark {
    color: #dadada;
    font-size: 10em;
    position: absolute;
    z-index: -10;
    opacity: 50%;
    transform: rotate(-45deg);
  }


}

@media only screen and (max-width: 600px) {


  .watermark {
    color: #dadada;
    font-size: 8em;
    position: absolute;
    z-index: -10;
    opacity: 50%;
    transform: rotate(-45deg);
  }


}

@media only screen and (max-width: 500px) {


  .watermark {
    color: #dadada;
    font-size: 4em;
    position: absolute;
    z-index: -10;
    opacity: 50%;
    transform: rotate(0deg);
  }


}